/* ==UserStyle==
@name           tildes.net - Widescreen (2021)
@namespace      github.com/openstyles/stylus
@version        1.0.2
@description    A complete rewrite of the widescreen theme (2021)
@author         tomf
@preprocessor   stylus

@var text       fontSize            "Font Size"             12pt
@var checkbox   fullWidth           "Full Width"            1
@var checkbox   columns             "Multiple Columns"      1
@var text       commentColumns      "Comment Columns"       1
@var checkbox   hideVotes           "Hide Votes"            1
@var checkbox   hideTopics          "Hide Sub-Topics"       1
@var checkbox   hideExcerpt         "Hide Excerpts"         1
@var checkbox   smallerSidebar      "Smaller Sidebar"       1
@var checkbox   minimalMail         "Mail Icons"            0
@var text       customMain          "Main Typeface"         IBM Plex Mono
@var text       customHeader        "Header Typeface"       IBM Plex Sans
@var text       customCode          "Code Typeface"         OperatorMono Nerd Font

==/UserStyle== */
@-moz-document domain("tildes.net") {

    :root {
        --background: #f8f8f2;
        --alternate: #f8f8f2;
        --list-alternate: #f8f8f2;
        --foreground: #404040;
        --fg-dark: #b9b9b9;
        --fg-darkalt: #9d9d9d;
        --border: #0087af;
        --form-border: #9d9d9d;
        --comment: #0087af;
        --codeback: #e0e0d9;
        --usercolor: #282a36;
        --title: #167895;
        --divhover: #f1fa8c;
        --link: #0087af;
        --hover: #6272A4;
        --visited: #6272A4;
        --active: #08a6c8;
        --alert: #FF5555;
        --button: #0087af;
        --button-text: #FBFBFB;
        --owncomment: #FF5555;
        --owncommenttext: #F8F8F2;
        --vote-color: #F8F8F2;

        --cyan: #08a6c8;
        --green: #50FA7B;
        --orange: #ffb86c;
        --pink: #ff79c6;
        --purple: #bd93f9;
        --red: #ff5555;
        --yellow: #f1fa8c;

        --label-joke: #50fa7b;
        --label-noise: #f1fa8c;
        --label-offtopic: #ff79c6;
        --label-malice: #ff5555;
        --label-color: #FFFFFF;
        --label-nsfw: #FF5555;
        --label-spoiler: #f55555;
        --black: #282a36;
        --white: #FFFFFF;

        --tiny: 6pt;

        --font-serif: 'IBM Plex Serif', 'Helvetica Neue', serif;
        --font-sans: 'IBM Plex Sans', 'Helvetica Neue', sans-serif;
        --font-main: 'OperatorMono Nerd Font', sans-serif;
        --font-mono: 'OperatorMono Nerd Font', Courier New, monospace;
    }


    /* -------------------------- */
    html {
        background-color: var(--background);
        font-size: fontSize;
    }

    body {
        background-color: var(--alternate);
        font-family: customMain, var(--font-main);
    }
    body > main {
        background-color: var(--background);
        if fullWidth {
            min-width: calc(100vw - 300px - 1.2rem);
        }
    }
    a {
        color: var(--link);
        text-decoration: none;
    }
    a:visited {
        color: var(--visited)
    }
    a:active {
        color: var(--active)
    }
    a:hover {
        color: var(--hover)
    }
    a.site-header-logo {
        font-family: customSans, var(--font-sans)
    }

    .site-header-logo {
        display: inline-block;
        background-image: url(/favicon-32x32.png);
        background-repeat: no-repeat;
        image-rendering: pixelated;
        padding-left: 20px;
        padding-right: 9px;
        line-height: 16px;
        font-weight: bold;
        color: var(--foreground-highlight-color);
        background-size: 16px;
        margin-top: 13px;
    }

    label[for='period'] {
        display: none;
    }
    select#period {
        position: relative;
        top: -1px;
    }
    #sidebar {
        background-color: var(--background)
    }

    /* Topic Listing Columns */
    ol.topic-listing {
        if columns {
            column-width: 25em;
        }
        column-rule-color: var(--border-color);
        column-rule-style: dotted;
        column-rule-width: 1px;
    }


    body .topic-listing > li {
        border-bottom: 1px dotted #ddd;
        display: inline-block;
        width: 100%;
    }

    .topic-listing > li:nth-of-type(2n) {
        background: var(--list-alternate)
    }

    /* Sticky Header */
    #site-header {
        background-color: var(--alternate);
        position: fixed;
        min-width: 100%;
        min-height: 42px;
        padding: 0px 20px;
        z-index: 99999;
        border-bottom: 1px dotted #c9ced9;
    }
    main {
        margin-top: 39px;
    }
    #sidebar {
        padding-top: 52px;
    }
    #site-header .logged-in-user-info {
        margin-top: 0.5rem;
    }
    /* Votes and Buttons */
    .topic-voting-label {
        display: none;
    }

    .btn-comment-collapse-label::after {
        content: "-";
    }

    body .topic-voting.btn-used {
        color: var(--visited);
    }

    code {
        font-family: custom, var(--font-mono);
    }

    pre {
        border: 1px dotted var(--border);
        padding: 10px;
        white-space: -moz-pre-wrap;
        /* Mozilla, supported since 1999 */
        white-space: -pre-wrap;
        /* Opera */
        white-space: -o-pre-wrap;
        /* Opera */
        white-space: pre-wrap;
        /* CSS3 – Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
        word-wrap: break-word;
        /* IE 5.5+ */
    }

    /* Move Listing Options -- might have to adjust position*/
    .listing-options {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0px;
        position: fixed;
        top: 5px;
        left: 140px;
        z-index: 99999;
    }
    /* Hide Redundant Group Name */
    body .site-header-context {
        display: none;
    }
    .tab {
        border: 0px
    }

    if hideVotes {
        body .topic-voting-votes {
            color: transparent!important;
        }
        body .topic-voting.btn-used {
            background-color: var(--button);
            border-color: var(--button);
            color: var(--button);
        }
        body .topic-voting.btn-used:hover {
            color: var(--white);
        }
        body .topic-voting-votes {
            color: var(--vote-color);
        }

        button[data-ic-src*="/vote"] {
            font-size: 0px;
            text-decoration: none;
            position: relative;
        }

        .btn-post {
            font-size: .625rem;
        }
        button.btn-post-action[data-ic-src*="/vote"]:before {
            content: "Vote";
            font-size: .625rem;
            display: block;
            text-decoration: none;
        }

        .btn-post-action-used:before,
        button.btn-post-action-used[data-ic-src*="/vote"]:before {
            content: "Voted";
            display: block;
        }

        /* Received Votes */
        .comment-votes {
            display: none;
        }
    }
    .comment-votes {
        margin: 0.2rem 1.2rem;
    }
    .btn .topic-voting {
        color: var(--button-text);
        border-color: var(--button);
    }
    .btn-post-action-used {
        color: var(--link)
    }
    .btn-post-action {
        color: var(--link);
        text-decoration: none;
    }
    .topic-voting.btn-used,
    .btn.btn-primary {
        background-color: var(--button);
        border-color: var(--button);
        color: var(--button-text)!important;
        border-radius: 2px;
    }
    .btn:focus,
    .btn:hover .topic-voting-votes {
        color: var(--button);
    }

    /* Headers and Titles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.0
    }
    h1.topic-title a {
        color: var(--title);
    }
    h1.topic-title a:hover {
        color: var(--hover);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: customHeader, var(--font-sans);
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a {
        color: var(--link)
    }
    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover,
    h5 a:hover {
        color: var(--hover)
    }
    h1 a:active,
    h2 a:active,
    h3 a:active,
    h4 a:active,
    h5 a:active {
        color: var(--active)
    }
    h1 a:visited,
    h2 a:visited,
    h3 a:visited,
    h4 a:visited,
    h5 a:visited {
        color: var(--visited)
    }



    .comment-header {
        background-color: rgba(0, 0, 0, .02);
        font-size: .8rem!important;
        padding: .5rem 0rem
    }
    .comment-text a {
        text-decoration: none;
        color: var(--link);
        border-bottom: 1px dotted var(--link)
    }
    .comment-text a:hover {
        border-bottom: 1px dotted var(--hover);
        color: var(--hover)
    }
    .comment-text a:visited {
        border-bottom: 1px dotted var(--visted);
        color: var(--visited)
    }
    .comment-text ul li {
        max-width: none;
    }
    .comment-itself .btn-post {
        padding: .6rem 0px 0px .8rem;
    }
    .btn-comment-collapse {
        margin: 0rem 0.5rem;
    }
    /* Search Bar */
    #sidebar .form-search .form-input {
        border: 0px;
    }

    .input-group {
        background: white;
        padding: 2px;
        border-radius: 2px;
        border: 1px solid var(--form-border);
    }

    /* Hide filter message -- we all know this by now */
    .topic-listing-filter {
        display: none;
    }
    /* Selectors */
    select.form-select:not([multiple]):not([size]) {
        background: var(--background);
        padding-left: 15px;
        text-align-last: center;
        border-radius: 2px;
    }

    /* Sub Colors */
    .topic-listing details {
        margin-right: 20px;
    }
    li.nav-item a,
    .link-group {
        border-radius: 5px;
        padding: 2px 8px 3px 5px!important;
        font-size: .625rem;
    }
    .topic-info-comments {
        white-space: inherit;
    }
    .topic-info-comments a {
        color: var(--link)
    }
    .tab .tab-item.active a,
    .tab .tab-item.active button,
    .btn.btn-link,
    a.link-group,
    {
        color: var(--black)!important;
        text-decoration: none;
    }
    .tab {
        border: 0px;
        text-transform: capitalize;
    }
    .tab .tab-item.active a,
    .tab .tab-item.active button {
        border-bottom: 1px solid var(--border);
        padding: 0px;
    }
    .nav .nav {
        line-height: 1rem;
    }
    .nav .nav-item a {
        color: var(--black);
    }

    .nav .nav-item a:hover {
        text-decoration: none;
    }

    /* group colors */
    li.nav-item a[href^='/~a'],
    a.link-group[href^='/~a'] {
        background-color: #6272a450;
    }
    li.nav-item a[href^='/~b'],
    a.link-group[href^='/~b'] {
        background-color: #8be9fd50;
    }
    li.nav-item a[href^='/~c'],
    a.link-group[href^='/~c'] {
        background-color: #bd93f950;
    }
    li.nav-item a[href^='/~d'],
    a.link-group[href^='/~d'] {
        background-color: #ff79c650;
    }
    li.nav-item a[href^='/~e'],
    a.link-group[href^='/~e'] {
        background-color: #ff555550;
    }
    li.nav-item a[href^='/~f'],
    a.link-group[href^='/~f'] {
        background-color: #f2676c50;
    }
    li.nav-item a[href^='/~g'],
    a.link-group[href^='/~g'] {
        background-color: #ffb86c50;
    }
    li.nav-item a[href^='/~h'],
    a.link-group[href^='/~h'] {
        background-color: #f1fa8c50;
    }
    li.nav-item a[href^='/~i'],
    a.link-group[href^='/~i'] {
        background-color: #50fa7b50;
    }
    li.nav-item a[href^='/~j'],
    a.link-group[href^='/~j'] {
        background-color: #bcc2cd50;
    }
    li.nav-item a[href^='/~k'],
    a.link-group[href^='/~k'] {
        background-color: #6272a450;
    }
    li.nav-item a[href^='/~l'],
    a.link-group[href^='/~l'] {
        background-color: #8be9fd50;
    }
    li.nav-item a[href^='/~m'],
    a.link-group[href^='/~m'] {
        background-color: #bd93f950;
    }
    li.nav-item a[href^='/~n'],
    a.link-group[href^='/~n'] {
        background-color: #ff79c650;
    }
    li.nav-item a[href^='/~o'],
    a.link-group[href^='/~o'] {
        background-color: #ff555550;
    }
    li.nav-item a[href^='/~p'],
    a.link-group[href^='/~p'] {
        background-color: #f2676c50;
    }
    li.nav-item a[href^='/~q'],
    a.link-group[href^='/~q'] {
        background-color: #ffb86c50;
    }
    li.nav-item a[href^='/~r'],
    a.link-group[href^='/~r'] {
        background-color: #f1fa8c50;
    }
    li.nav-item a[href^='/~s'],
    a.link-group[href^='/~s'] {
        background-color: #50fa7b50;
    }
    li.nav-item a[href^='/~t'],
    a.link-group[href^='/~t'] {
        background-color: #bcc2cd50;
    }
    li.nav-item a[href^='/~u'],
    a.link-group[href^='/~u'] {
        background-color: #6272a450;
    }
    li.nav-item a[href^='/~v'],
    a.link-group[href^='/~v'] {
        background-color: #8be9fd50;
    }
    li.nav-item a[href^='/~w'],
    a.link-group[href^='/~w'] {
        background-color: #bd93f950;
    }
    li.nav-item a[href^='/~x'],
    a.link-group[href^='/~x'] {
        background-color: #ff79c650;
    }
    li.nav-item a[href^='/~y'],
    a.link-group[href^='/~y'] {
        background-color: #ff555550;
    }
    li.nav-item a[href^='/~z'],
    a.link-group[href^='/~z'] {
        background-color: #f2676c50;
    }


    /* Smaller Actions Menu  */
    .topic-actions .menu {
        min-width: 100px;
    }
    .topic .topic-actions {
        text-align: center;
    }
    .topic-actions .btn {
        font-size: 0pt;
    }
    .topic-actions .btn:before {
        content: "☉";
        font-size: .5rem;
        padding: 0px 2px 0px 5px;
    }
    .topic-actions .menu li button {
        color: var(--foreground)
    }
    .topic-actions .menu li button[data-ic-put-to*='bookmark']:before {
        content: "★";
        display: inline;
        padding-right: 5px;
        color: var(--foreground)
    }
    .topic-actions .menu li button[data-ic-put-to*='ignore']:before {
        content: "✖";
        display: inline;
        padding-right: 5px;
        color: var(--foreground)
    }

    /* Posts */
    .topic:hover {
        background-color: var(--divhover);
    }
    .topic-listing article:active {
        padding-left: 10px;
    }
    a.link-user {
        color: var(--link)!important;
        font-size: inherit;
    }
    .label-topic-tag a {
        text-decoration: none;
    }

    .topic-metadata {
        overflow: inherit;
    }
    if hideTopics {
        .topic-metadata .topic-tags:last-child {
            display: none;
        }
    }

    if hideExcerpt {
        .label-topic-tag,
        .topic-text-excerpt,
        .topic-text-excerpt summary {
            display: none;
        }
        .topic-listing article {
            height: 4.7rem;
        }

        .topic-listing .topic header {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            height: .9rem;
        }
    }
    /* Minor Replacements */
    .topic-content-type:not(:first-child)::before {
        content: "-"
    }
    .topic-content-type:not(:last-child)::after {
        content: ""
    }
    /* Exemplary Highlight */
    body .is-comment-exemplary > .comment-itself header.comment-header {
        background-color: var(--yellow)
    }
    .comment-text p {
        max-width: 90%;
    }
    .comment-text {

        padding: .7rem 0rem 0rem 0rem;
        margin-left: 22px;
    }
    .topic-full-text,
    .topic-full-text p,
    .comment-text p {
        font-size: .8rem;
    }
    .topic-full-text p br,
    .comment-text p br {
        content: "";
        margin: 2em;
        display: block;
        font-size: .2rem;
    }
    .comment-labels {
        margin: 5px .5rem
    }
    .label-comment-exemplary {
        font-size: 0.5rem;
        padding: 2px 3px;
        line-height: .9rem;
    }
    article[data-comment-depth="1"],
    article[data-comment-depth="3"],
    article[data-comment-depth="5"],
    article[data-comment-depth="7"],
    article[data-comment-depth="9"],
    article[data-comment-depth="11"],
    article[data-comment-depth="13"],
    article[data-comment-depth="15"],
    article[data-comment-depth="17"],
    article[data-comment-depth="19"],
    article[data-comment-depth="21"],
    article[data-comment-depth="23"],
    article[data-comment-depth="25"] {
        border-left: 1px dashed var(--border);
    }

    .is-comment-collapsed-individual:not(:target) > .comment-itself header,
    .is-comment-collapsed:not(:target) header {
        background: var(--background)
    }

    /* Self Highlights */
    .is-topic-mine .link-user,
    .is-comment-mine > .comment-itself > header > .link-user {
        color: var(--owncommenttext)!important;
        background: var(--owncomment);
        padding: 3px 6px 3px 6px;
        border-radius: 7px;
    }

    #site-header .logged-in-user-alert {
        background: var(--alert);
        color: var(--background);
        padding: 2px 10px;
        border-radius: 2px;
        font-size: .6rem;
    }

    site-header .logged-in-user-alert:hover {
        text-decoration: none;
        background: var(--cyan);
    }

    if minimalMail {

        div a.logged-in-user-alert:before {
            content: " ";
            display: block;
            width: 20px;
            color: #000;
            height: 16px;
            background-position: 0px 0px;
            padding: 11px 0px;
            position: relative;
            top: 3px;
            filter: invert(42%) sepia(100%) saturate(1000%) hue-rotate(328deg) brightness(100%) contrast(100%);
        }

        div a.logged-in-user-alert[href="/notifications/unread"]:before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-envelope-fill' viewBox='0 0 16 16'%3E%3Cpath d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z'/%3E%3C/svg%3E") no-repeat top left;
        }


        div a.logged-in-user-alert[href="/messages/unread"]:before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chat-quote-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z'/%3E%3C/svg%3E") no-repeat top left;
        }

        #site-header .logged-in-user-alert {
            background: none;
            font-size: 0rem;
            padding: 0;
            margin: 0px 5px 0px 0px;
        }
    }

    /* Tags! */
    .label-topic-tag {
        border-radius: 2px;
    }
    .label-topic-tag-spoiler,
    .label-topic-tag[class*="label-topic-tag-spoiler-"] {
        background-color: var(--red)
    }


    /* Main Sub Page */
    .group-list li {
        text-indent: 0rem;
    }
    .group-list-item-not-subscribed:after {
        content: " - not subscribed";
        font-size: .6rem;
        padding: 2px 5px;
        color: var(--foreground);
        font-style: italic;
    }

    .group-list-item-not-subscribed a.link-group {
        background-color: var(--background);
        border: 1px solid var(--foreground);
    }
    .group-list-item-not-subscribed a.link-group,
    .group-list-item-subscribed a.link-group {
        font-weight: 400
    }
    .group-list {
        margin: 1rem 0;
        column-count: columns;
    }
    .topic-full-text p br,
    .comment-text p br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 24%;
    }

    if twoColumnComments {
        .topic-comments .comment-text {
            column-count: commentColumns;
        }
    }

    /*  #sidebar p,
    p,
    .site-header-logo,
    body .site-header-logo,
    body .site-header-logo:visited,
    body .site-header-context,
    body .site-header-context:visited,
    .comment-text,
    .bg-none,
    .group-short-description,
    .nav .nav .nav-item,
    #sidebar,
    #sidebar summary {
        
    }
*/
    if smallerSidebar {

        body > main {
            background-color: var(--background);
            min-width: calc(100vw - 210px - 1.2rem);
        }
        #sidebar {
            width: 200px;
            min-width: 200px;
        }
    }
    .settings-list .form-select {
        width: 200px;
    }
    .highlight .syntax-c1 {
        color: #666;
        font-style: italic;
    }

    .topic-full-link {
        overflow-wrap: anywhere;
        align-items: normal;
    }

    .topic-full-content-metadata h2:nth-of-type(1),
    .topic-full-content-metadata p:nth-of-type(1) {
        display: none;
    }
    .topic-full-content-metadata {
        line-height: .4rem;
        margin: .5rem 0 0.5rem .2rem;
    }

    .topic-icon {
        width: .8rem;
        height: .8rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .topic-full-link .topic-icon {
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .topic-full-link a {
        padding-top: 5px;
    }
}
